.absences-page {
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
    min-height: 400px;
    height: auto;
    max-height: 620px;
    div.inner-wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}
