@import '../../scss/variables.scss';

.absences-page {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    min-height: 400px;
    height: auto;
    max-height: 620px;
    position: relative;

    form.absence-create-form {
        box-sizing: border-box;
        max-width: 996px;
        width: 100%;
        height: 400px;
        margin: auto;
        border: 1px solid $stroke-color;
        box-shadow: 1px 1px 4px $stroke-color;
        border-radius: 8px;
        padding: 20px 25px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
    }
    h1 {
        color: $soft-grey;
        align-self: self-start;
        margin: 0;
    }

    .inner {
        height: calc(100vh - (150px));
        overflow-y: scroll;
    }
}
.absolute {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.date-inputs-wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 20px auto 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    input {
        background-color: $white-color;
    }
}
