$dark-blue-bg: #0072bb;
$light-blue-bg: #4999cd;
$white-color: #fff;
$stroke-color: #d9d9d9;
$light-bg-color: #f6f7f9;
$soft-blue: #336caf;
$hint-color: #9caab6;
$soft-black: #323548;
$soft-grey: #4b4b4b;

$success-light-color: #effae9;
$error_light-color: #ffebeb;
