@import '../../scss/variables.scss';

.users-page {
    box-sizing: border-box;
    width: 100%;

    height: auto;
    padding: 10px 0;
    .inner-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        .users-wrapper {
            width: 100%;
            box-sizing: border-box;

            .wrapper {
                width: 100%;
                max-width: 400px;
            }
        }
    }
}
